<!-- <script src="../node_modules/chart.js/src/chart.js">
</script> -->

<h1>
  Bitcoin Monthly Price
</h1>
<div class="container">
<app-price-chart-picker></app-price-chart-picker>

<div class="row" *ngIf="isDataAvailable">
  <div class="col-xs-11 col-md-10 col-lg-10">

    <canvas baseChart #mychart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [colors]="lineChartColors"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"></canvas>

  </div>
  <p>
      <small>
      * Data from www.coindesk.com
      </small>
    </p>
</div>
</div>


